# Extract vars from elixir_buildpack.config
. elixir_buildpack.config

# Write .tool-versions
echo “erlang $erlang_version” >> .tool-versions
echo “elixir $elixir_version” >> .tool-versions

# Install erlang/elixir
asdf install erlang $erlang_version
asdf install elixir $elixir_version

# Get dependencies
yes | mix deps.ge
mix local.rebar

# Exit successfully
exit 0
